<div class="article page">
	<h2>O nas</h2>
	<span class="created_at">
		Napisalo Uredništvo Jabolko
		24. decembra 2009
	</span>
	<div class="content">
		<p>Jabolko.org je neodvisni spletni informacijski vir, ki ga za svoje namene uporablja Društvo Apple uporabnikov Slovenije Jabolko.org. Zamisel za ta projekt je nastala s strani neodvisnih posameznikov zaradi želje in potrebe po spletnem mestu, kjer bi bile objavljene poučne informacije, namenjene Apple uporabnikom. Med slednje se šteje vsak, ki uporablja katerokoli strojno in programsko opremo podjetja Apple. Osnovni namen projekta je združevanje, izobraževanje in zakaj pa ne, tudi zabava. Koristen je tudi vsem uporabnikom, ki imajo namen kupiti katerega od izdelkov podjetja Apple in še nimajo izkušenj z njim.</p>

		<p>Objavljeni podatki so črpani iz lastnih izkušenj, spleta ter revij s podobno vsebino. Poleg koristnih nasvetov in trikov, so na voljo tudi predstavitve programske opreme slovenskih in tujih razvijalcev, pisane za Mac OS X in iPhone OS. Glede na to, da je Jabolko.org namenjeno slovenskim uporabnikom, so vsi prispevki napisani v slovenskem jeziku.</p>
	</div>
</div>