<div class="article page">
	<h2>Pravno obvestilo</h2>
	<span class="created_at">
		Napisalo Uredništvo Jabolko
		24. decembra 2009
	</span>
	<div class="content">
		<p>
			Vsebine, objavljene na jabolko.org, so last društva Apple uporabnikov Slovenije in njenih članov, razen če je napisano drugače. Uporabljajo se le v nekomercialne namene, ohraniti pa morajo vsa navedena opozorila o avtorskih pravicah in se torej ne smejo prepisovati, razmnoževati ali kako drugače razširjati brez dovoljenja društva Apple uporabnikov Slovenije in njenih članov.
		</p>
		<p>
			Po svojih najboljših močeh se trudimo, da na jabolko.org objavljamo le prave in ažurne podatke, vendarle pa ne moremo zagotavljati popolne točnosti in zanesljivosti vseh objavljenih podatkov. Prav tako ne prevzemamo nobene odgovornosti za morebitne posledice, nastale zaradi uporabe informacij, objavljenih v tej spletni točki. Društvo Apple uporabnikov Slovenije ne odgovarja za mnenja članov in druge vsebine, na katere društvo nima vpliva. Društvo Apple uporabnikov Slovenije si pridržuje pravico do spremembe vsebin.
		</p>
		<p>
			Z uporabo jabolko.org obiskovalec potrjuje, da sprejema opisane pogoje in se z njimi strinja.
		</p>
	</div>
</div>