<div class="article page">
	<h2>Kdo oblikuje vsebino za jabolko.org?</h2>
	<span class="created_at">
		Napisalo Uredništvo Jabolko
		24. decembra 2009
	</span>
	<div class="content">
	<p>
		Jabolko.org je nastalo z željo, da bi uporabnikom Apple-ovih izdelkov nudili kakovostne in ažurne informacije.Trudimo se, da bi bila besedila čim bolj izvirna in uporabna, ampak za kakovosten članek si je treba vzeti čas. Jabolko.org vključuje novice iz Mac sveta, novice o novih izdelkih, programih, pa tudi podatke tehnične in praktične narave. Podatki za članke se črpajo iz spletnih novic, iz obstoječe literature in iz lastnih izkušenj. Vsebino za jabolko.org pišemo Apple uporabniki, zato če imate kakšno idejo, komentar ali izkušnjo, ki bi jo radi delili z nami, jo bomo z veseljem sprejeli in poskrbeli za objavo. Vsaka pomoč pri pisanju člankov je več kot dobrodošla. Veselimo se predvsem opisov lastnih izkušenj, komentarjev in ocen Apple – ovih izdelkov ter programov.
	</p>
	<p>
		Če si Apple uporabnik in bi svojo izkušnjo delil na jabolko.org, pošlji tvoj prispevek na
		<br />
		<a href="mailto:sodeluj@jabolko.org">sodeluj@jabolko.org</a>
	</p>
	</div>
</div>