<% title "Članki z značko #{@tag.name.capitalize}" %>

<%= render :partial => @tag_articles, :spacer_template => "articles/article_spacer", :locals => { :is_view => "index" } %>
<div id="blank_space">
	
</div>