<div id="ie6_topbar">
	<div id="ie6_text">
		Ker uporabljate staro različico Internet Explorer 6 vam priporočamo namestitev 
		<%= link_to image_tag('ie6_topbar_ie8.gif'), '#' %>
		<%= link_to image_tag('ie6_topbar_chrome.gif'), '#' %>
		<%= link_to image_tag('ie6_topbar_firefox.gif'), '#' %>
		<%= link_to image_tag('ie6_topbar_safari.gif'), '#' %>
	</div>
</div>